body
{
	background-image: url(Cloud.png), url(CloudBack.png);
	background-repeat: no-repeat, repeat;
	background-attachment: scroll, fixed;
	background-position:right top, center;
	background-size: 100% auto;
}

#head
{
	width:60%;
	min-height:21%;
	border-radius: 10;
	background-image:url(WhiteBack.png);
	color: #205DAD;
	font-size: 180%;
	font-weight: bold;
	padding:1%;
	margin:1%;
}

#menu
{
	width:20%;
	border-radius: 10;
	background-image:url(WhiteBack.png);
	float:left;
	list-style-type: none;
	padding:0px;
	margin:1%;
}

#menu li a:link, #menu li a:active, #menu li a:visited
{
	width:82%;
	border-radius: 10;
	min-height:40;
	position:center;
	margin:5% 8%;
	padding:1%;
	text-decoration: none;
	background-image:url(CloudBack.png);
	display: block;
	color:#C9D2DE;
	font-size:110%;
	text-align:center;
}

#menu li a:focus, #menu li a:hover
{
	width:82%;
	border-radius: 10;
	min-height:40;
	position:center;
	margin:5% 8%;
	padding:1%;
	text-decoration: none;
	background-image:url(WhiteBack.png);
	display: block;
	color:#205DAD;
	font-size:110%;
	text-align:center;
}

#currentmenuitem
{
	width:82%;
	border-radius: 10;
	min-height:40;
	position:center;
	margin:5% 8%;
	padding:1%;
	text-decoration: none;
	background-color:#143A6C;
	display: block;
	color:#C9D2DE;
	font-weight:bold;
	font-size:110%;
	text-align:center;
}

#maintext
{
	border-radius: 10;
	background-image:url(WhiteBack.png);
	float:left;
	width:73%;
	margin: 1% 1%;
	position:center;
	padding:1%;
	text-align:justify;
	color:#205DAD;
}

#picturelay
{
	visibility:hidden;
	z-index:100;
	background-image:URL(black.png);
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0;
	margin:0;
	width:100%;
	height:100%;
	display:table;
	vertical-align:middle;
}

#outer
{
	display:table-cell;
	vertical-align:middle;
}
#inner
{
	position:relative;
	left:50%;
	float:left;
}

#inner2
{
	position:relative;
	left:-35%;
}

#inner2 img
{
	max-height:90%;
	min-width:70%;
	max-width:70%;
}

#maintext hr
{
	color: #143A6C;
	background-color: #143A6C;
	border-radius: 50/2;
	border: 0;
	height: 3px;
}

#maintext table
{
	color: inherit;
	border-width:1;
	border-style:solid;
	border-color:#143A6C;
	width:70%;
	margin-left:15%;
	border-collapse:collapse;
}

#maintext th
{
	border-width:1;
	border-style:solid;
}

#maintext td
{
	border-width:1;
	border-style:solid;
}

img.leftsmall
{
	background-color:#143A6C;
	border-radius:5;
	width:15%;
	padding:0.5%;
	margin:8 25 8 0;
	float: left;
}

img.rightsmall
{
	onclick:"ShowPicture()";
	background-color:#143A6C;
	border-radius:5;
	width:15%;
	padding:0.5%;
	margin:8 0 8 25;
	float: right;
}
img.large
{
	onclick:"ShowPicture()";
	background-color:#143A6C;
	border-radius:10;
	width:50%;
	padding:1%;
	margin:10 100% 10 0;
	float: left;
}

div.ActiveFormCount
{
	width:100%;
	float:left;
	display:block;
	text-align:left;
	visibility:visible;
}

div.BackFormCount
{
	height:0%;
	float:left;
	display:block;
	text-align:center;
	visibility:hidden;
}